<div class="container bs-docs-container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">编辑网站内容</div>
    <div class="panel-body">
      <%= render 'form' %>
    </div>
  </div>
</div>