<%= render 'layerbegin' %>


<div class="col-md-12" style="background: #a0a0a0;">
  <div class="col-md-6 text-center">
    <img width="70%" src="image/work03.png" style="margin-top: 100px;">
  </div>
  <div class="col-md-6">
    <img src="image/work02.png" style="margin-top: 150px;">
  </div>

</div>
<div class="container">
  <h1 class="h1 text-center">安装就是那么简单</h1>
  <div class="col-md-12">


    <div class="col-md-3">
      <div class="text-center">
        <img width="60%" src="/image/wk01.png">
      </div>
      <div class="text-center">
        <h4 class="h4"><b>操作简单</b></h4>
      </div>
      <div class="text-center">
      <span>
        界面简洁，没有复杂的功能,业余也能变成专业
      </span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="text-center">
        <img width="60%" src="/image/wk02.png">
      </div>
      <div class="text-center">
        <h4 class="h4"><b>市级区域服务</b></h4>
      </div>
      <div class="text-center">
      <span>
        海量定单自由选择，自由报价,先先赔付
      </span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="text-center">
        <img width="60%" src="/image/wk04.png">
      </div>
      <div class="text-center">
        <h4 class="h4"><b>专业的客服团队</b></h4>
      </div>
      <div class="text-center">
      <span>
        客户团队实时在线，帮您答疑解惑
      </span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="text-center">
        <img width="60%" src="/image/wk03.png">
      </div>
      <div class="text-center">
        <h4 class="h4"><b>技能免费培训</b></h4>
      </div>
      <div class="text-center">
      <span>
        全面提升强化个人技能，提供技工免费培训
      </span>
      </div>
    </div>


  </div>
        </div>

