<%= render 'layerbegin' %>

<div class="container" style="margin-top: 120px;">
  <h3 class="h3">工程案例</h3>
  <hr>
  <% @contents.each do |content| %>
      <div class="col-md-4 text-center" style="padding: 20px;">
        <img src=<%= content.contentimg.url %>  class="img-thumbnail">
        <h5 class="h5" ><%= content.title %></h5>
      </div>
  <% end %>

  <div class="text-center col-md-12">
    <%= will_paginate @contents, renderer: BootstrapPagination::Rails %>
  </div>
</div>
