


<div class="container bs-docs-container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">新增素材</div>
    <div class="panel-body">
      <%= render 'form' %>
    </div>




  </div>
</div>