<footer id="footer" class="footer" style="background: #222222;">
  <div class="container" style="color: #a0a0a0;margin-top: 50px;background: #222222;">
    <div class="col-md-6">
      <p>&nbsp;</p>
      <p>
        &copy;&nbsp;2017 昆明复永科技有限公司
      </p>
      <p>
        <i class="fa fa-building-o"></i>&nbsp;&nbsp;云南省昆明市呈贡区仕林街云上云大数据8幢8207室
      </p>
      </p>
      <i class="fa fa-phone"></i>&nbsp;86-871-63513368
      <p>
    </div>
    <div class="col-md-6 text-right" style="padding: 10px;">
      <img width="20%" src="image/wxqrcode.png">
    </div>
  </div>
</footer>